*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    background-color: #3161E0;
    height: 50px;
    padding: 0.5rem;
}

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1280px;
}

.navbar a{
    margin: 1rem;
    color: white;
    text-decoration: none;
}

.primary-btn{
    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.secondary-btn{
    background-color: #23272A;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.tertiary-btn{
    background-color: #8EA1E1;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.hero{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.hero-content{
    max-width: 50%;
    margin: 0 auto;
    color: white;
}

.hero-title,
.hero-p{
    margin: 1rem 0;
    line-height: 150%;
    color: white;
}

h1,
h2,
p{
    color: #23272A;
    margin: 1rem 0;
}

h3{
    color: #23272A;
}

h4{
    color: #7289DA;

}

.img-txt{
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 4rem;
}

.img-txt-content{
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-img{
    margin-bottom: 1rem;
    background-image: url(../img/wave-bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 4rem;
}

.txt-img-content{
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-image{
    background-image: url(../img/wave-bg2.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.big-image-content{
    max-width: 1180px;
    text-align: center;
    margin: auto;
}

.pre-footer{
    background-color: #F6F6F6;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

footer{
    background-color: #23272A;
}

.footer-title{
    color: #7289DA;
}

.select-ita{
    color: white;
    margin: 1rem 0;
}

.footer-top{
    padding: 2rem;
    max-width: 1280px;
    margin: auto;
}

.footer-column{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1180px;
    margin: auto;
}

ul{
    list-style: none;
}

li{
    margin: 0.5rem 0;
}


.footer-column a{
    color: white;
    text-decoration: none;
}

hr{
    max-width: 1280;
    margin: 1rem 0;
    border: 0.5px solid #7289DA;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin: auto;
}
    